<div class="row animated fadeIn " *ngIf="cargando ">
    <div class="col-sm-12 ">
        <div class="alert alert-warning text-center ">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x "></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando ">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-building"></i> Empresa: {{ empresa }}</h2>
                <hr>
                <h3 class="card-title"><i class="fa fa-certificate"></i> Certificación {{ fecha }}</h3>
                <!-- <h6 class="card-subtitle"><i class="fa fa-certificate"></i> Certificación {{ fecha }}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="fa fa-info-circle"></i> Bloquea / Desbloquea los pasos del proceso de certificación</h4>
                <br>
                <h6 class="card-subtitle"><i class="fa fa-warning"></i> IMPORTANTE: <code>Si se libera el paso de <b>Idiomas</b> se reiniciará todo el proceso de certificación</code></h6>
                <!-- Nav tabs -->
                <div class="vtabs ">
                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#idiomas" role="tab"><span><i class="fa fa-language"></i> Gestión de Idiomas</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#preguntas" role="tab"><span><i class="fa fa-question"></i> Gestión de Preguntas</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#colaboradores" role="tab"><span><i class="fa fa-users"></i> Gestión de Colaboradores</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#programacion" role="tab"><span><i class="fa fa-calendar"></i> Programación de Encuesta</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active animated fadeIn" id="idiomas" role="tabpanel">
                            <div class="p-20">
                                <div class="switch">
                                    <h5 class="">
                                        Sección de Idiomas
                                    </h5>
                                    <br>
                                    <label class="">
                                    <i class="fa fa-lock"></i>
                                    Bloqueado
                                    <input type="checkbox" [(ngModel)]="idiomas" (change)="actualizar($event, 1)">
                                    <span class="lever"></span>
                                    <i class="fa fa-unlock-alt"></i> 
                                    Desbloqueado
                                    </label>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane  p-20 animated fadeIn" id="preguntas" role="tabpanel">
                            <div class="switch">
                                <h6 class="">NPS</h6>
                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="nps" (change)="actualizar($event, 2)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                                <h6 class="">Reactivos</h6>
                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="reactivos" (change)="actualizar($event, 3)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                                <h6 class="">Abiertas</h6>
                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="abiertas" (change)="actualizar($event, 4)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                                <h6 class="">Demográficos</h6>
                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="demograficos" (change)="actualizar($event, 5)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                                <h6 class="">Prácticas 4ALL</h6>
                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="practicas" (change)="actualizar($event, 6)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                                <h6 class="">Adicionales</h6>
                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="adicionales" (change)="actualizar($event, 7)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                            </div>
                        </div>
                        <div class="tab-pane p-20 animated fadeIn" id="colaboradores" role="tabpanel">
                            <div class="switch">
                                <h5 class="">
                                    Colaboradores
                                </h5>
                                <br>
                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="colaboradores" (change)="actualizar($event, 8)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                            </div>
                        </div>
                        <div class="tab-pane p-20 animated fadeIn" id="programacion" role="tabpanel">
                            <div class="switch">
                                <h5 class="">
                                    Programación de Encuesta
                                </h5>

                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="programacion" (change)="actualizar($event, 9)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                                <h5 class="">
                                    Envío de Correos
                                </h5>

                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="envio" (change)="actualizar($event, 10)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                                <hr>
                                <h5 class="">
                                    Cierre
                                </h5>

                                <label class="">
                                <i class="fa fa-lock"></i>
                                Bloqueado
                                <input type="checkbox" [(ngModel)]="cierre" (change)="actualizar($event, 11)">
                                <span class="lever"></span>
                                <i class="fa fa-unlock-alt"></i> 
                                Desbloqueado
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>